/* Main stylesheet */
.center {
  display: flex;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.top {
color: white;
/*bluelagoo*/
background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* cool sky */
/* background: #2980B9;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.full-height {
  height: 100vh;
}

.pad10 {
  padding: 2rem 10rem;
}

.no-pad {
  padding: 0;
}

.leftText {
  text-align: left;
}

.white {
  background-color: white;
  color: black;
}

.off-white {
  background-color: #eee;
  color: black;
}

.head { /* Heading */
  font-size: 7rem;
}

.sub-head { /* Sub Heading */
  font-size: 4rem;
}

.para { /* Para */
  font-size: 2rem;
}

.fixed {
  position: fixed;
  z-index: 1;
}

.small-img {
  height: 200px;
  margin: 1rem;
}

.accent {
  background: #0052D4;
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  color: white!important;
}

.accent a, .accent i {
  color: white!important;
}

a.active {
  color: pink!important;
}

.wrap {
  word-wrap: break-word;
  flex-direction: column;
}

.margin {
  margin: 2rem;
}

.icon {
  font-size: 50px;
}

.treatments {
  margin-top: 206px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  padding: 1rem 1rem;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.content {
  margin-left: 300px;
  padding: 0 1rem;
  z-index: 0;
}

.treatment {
  padding: 1rem;
}
