/* Main stylesheet */
.center {
  align-items: center;
  text-align: center;
}

.pad10 {
  padding: 2rem 10rem;
}

.leftText {
  text-align: left;
}

.black {
  background-color: black;
  color: white;
}

h1 {
  font-size: 7rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.small-img {
  height: 200px;
  margin: 1rem;
}

.accent {
  background-color: #EAB2E2;
}

.margin {
  margin: 2rem;
}

.icon {
  font-size: 50px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  padding: 1rem 1rem;
  left: 0;
  overflow-x: hidden;
  background-color: #EAB2E2;
}

.sidenav a {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.content {
  margin-left: 300px;
  padding: 0 1rem;
}
